# ═══════════════════════════════════════════════════════════════
#  IoT 4.0 — Backend Environment Variables
# ═══════════════════════════════════════════════════════════════
# Copia este archivo como .env y ajusta los valores

PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/iot40
NODE_ENV=development
