# ═══════════════════════════════════════════════════════════════
#  IoT 4.0 — Gateway Environment Variables
# ═══════════════════════════════════════════════════════════════
# Copia este archivo como .env y ajusta los valores

MQTT_URL=mqtt://127.0.0.1:1883
MQTT_TOPIC=iot/devices/+/telemetry
WS_PORT=8081
HTTP_PORT=3001
MONGO_URI=mongodb://127.0.0.1:27017/iot40
BACKEND_URL=http://localhost:3000
NODE_ENV=development
